.spin-container {
  position: relative;
  height: 500px;
  width: 500px;
}

.circle {
	width: 300px;
	height: 300px;
	background: white;
	border-radius: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-top: -150px;
  margin-left: -150px;
}

.spinner{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.pendulum {
  bottom: 215px;
  position: absolute;
  top: 72%;
  left: 68%;
  z-index: 111;
  margin-top: -150px;
  margin-left: -150px;
}

.numbers {
  font-family: helvetica;
  color: #37AEE9;
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 125;
  margin-top: -100px;
  margin-left: -45px;
}

.subText {
  font-family: helvetica;
  color: #37AEE9;
  font-size: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 125;
  margin-top: -100px;
  margin-left: -45px;
}

.box_rotate {
  transform: rotate(195deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */

}
.box_transition {
  transition: all 1.3s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */

}
